#container{
    background-color: lightgrey;
    border-color: black;
    border-style: solid;
    border-radius: 2%;
    padding: 5px;
    margin-top: 7%;
    margin-left: 36%;
    margin-right: 30%;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: lighter;
}

#lool{
    text-align: center;
}


h1{
    text-align: center;
    margin-top: 10px
}